PORT=8787
BOT_TOKEN=
MINIAPP_URL=https://alamat-miniapp-lo
ALLOW_DEMO=false
ADMIN_TELEGRAM_IDS=123456789
# Set ke true hanya untuk develop sebelum Telegram Mini App auth diaktifkan.
DEV_BYPASS_AUTH=true
